body {
  padding-top: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8DCB4 !important;
}

.background{
  background-color: #F8DCB4 !important;
}

a {
  color: #00B7FF;
}

.user-text {
  padding-top: 10px
}

.user-mentions {
  margin-top: 70px;
  margin-bottom: 30px;
  color: #999;
}

.post-container {
  margin: auto ;
  width: 40%;
}

.modal-container a {
  border-radius: 0;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #D34F4E;
  padding: 0%;
  overflow: hidden;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #F8DCB4 !important;
  text-decoration: none;
  font-size: 17px;
  overflow: auto;
}

.navbar-brand {
  color: #F8DCB4;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #4A2B2B;
}

.navbar-brand{
  margin: 0;
  color: #F8DCB4;
}

.input-group-prepend{
  position: relative;
}

.search{
  margin: 0 !important;
  border: 0 !important;
}

.search-icon{
  border: 0 !important;
}

.post-info{
  margin-top: 50px;
  margin-bottom: 30px;
}
  
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper{
  width: 100%;
}

.media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

#modal-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 70%;
}

.modal-container{
  display: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.borderless {
  border: 0px;
  margin: 2px;
}

.btn-selected {
  color : white;
  background-color:  rgb(190, 69, 69)
}

.btn i {
  margin: 5px;
}

.btn-selected :hover {
  background-color: rgb(58, 33, 33);
  color: whitesmoke !important;
}

.btn-not-selected {
  background-color: rgb(156, 156, 156);
  color:  white;
}

.btn-not-selected :hover {
  background-color: rgb(190, 69, 69);
}

.userImg{
  background-size: cover;
}

.pagination {
  color : black;
  font-weight: bold;
  padding: 0;
}

.pagination a{
  margin: 0;
  border-radius : 0;
}