extends layout

block content 
    .container
        .w3-card-4
            header.w3-container
            h3 Erro
        .container
            p= error
            p= error.response.data.erro
        footer.container
            address Gerado por uminho-isn