extends authLayout

block content
	.container
		.d-flex.justify-content-center
			.card
				.card-header
					h3 Sign In
				.card-body
					form(action="/login" method="POST")
						.input-group.form-group
							.input-group-prepend
								span.input-group-text
									i.fas.fa-user.text-light
							input.form-control(type='text' placeholder='email' name='email')
						.input-group.form-group
							.input-group-prepend
								span.input-group-text
									i.fas.fa-key.text-light
							input.form-control(type='password' placeholder='password' name="password")
						.form-group
							input.btn.float-right.login_btn.w-100.my-2.text-light(type='submit' value='Entrar com email')
							a.btn.login_btn.float-left.w-100.my-2.text-light(href="/auth/google")
								|Entrar com Google
								i.fab.fa-google
							a.btn.login_btn.float-left.w-100.my-2.text-light(href="/auth/facebook")
								| Entrar com Facebook
								i.fab.fa-facebook
				.card-footer
					.d-flex.justify-content-center.links
						| Não tens uma conta?
						a(href='/register') Regista-te
