extends layout

block content
	nav(style="background-color: #CECECE;").navbar.navbar-expand-lg.navbar-light.fixed-top
		a.navbar-brand(href="/logout")
			i.fas.fa-power-off
		a.navbar-brand(href="/")
			i.fas.fa-home
			|  Home
		a.navbar-brand(href='/profile') 
			i.fas.fa-user
			|  Perfil
		a.navbar-brand(href='/publish') 
			i.fas.fa-pencil-alt
			|  Publicar
		.navbar-nav.ml-auto
			form.form-inline.my-2.my-lg-0
				.input-group.form-group
					.input-group-prepend
						span.input-group-text
							i.fas.fa-search.search-icon
						input.form-control.mr-sm-2.search(type='search' placeholder='Search' aria-label='Search')
	block page
