extends mainLayout

block page
	.album.py-5.bg-light.background
		.container
			form(action='/publish' method='POST' enctype="multipart/form-data")
				.form-group
					label(for='title') Titulo
					input#title.form-control(type='text' name="title" placeholder='Introduzir titulo' required)
				.form-group
					label(for='description') Texto
					textarea#title.form-control(type='text' name="description" placeholder='Introduzir descrição' rows='2' required)
				.form-group
					label.w3-cell Ficheiro:
					input.w3-input.w3-cell(type="file" name="files" multiple)
				table.form-group(id='taglist')
					label.w3-cell Tags:
					.row
						.col-3
							select.selectpicker(data-live-search='true' name='tags' id='tagselector')
								each tag in tags
									option(data-tokens=tag.tag) #{tag.tag}
						.col
							button.btn.btn-primary.ml-3(id='tagbutton') Adicionar


				button.btn.btn-primary(type='submit') Publicar
