extends mainLayout

block page
	.container
		form(action='/publish' method='POST' enctype="multipart/form-data")
			.form-group
				label(for='title') Titulo
				input#title.form-control(type='text' name="title" placeholder='Introduzir titulo' required)
			.form-group
				label(for='description') Descrição
				input#title.form-control(type='text' name="description" placeholder='Introduzir descrição' rows='2' required)
			.form-group
				label.w3-cell Ficheiro:
				input.w3-input.w3-cell(type="file" name="files")
			button.btn.btn-primary(type='submit') Publicar
