extends mainLayout

block page
	.album.py-5.bg-light.background
		.container
			form(action='/publish' method='POST' enctype="multipart/form-data")
				.form-group
					label(for='title') Titulo
					input#title.form-control(type='text' name="title" placeholder='Introduzir titulo' required)
				.form-group
					label(for='description') Texto
					textarea#description.form-control(type='text' name="description" placeholder='Introduzir descrição' rows='2' required)
				.form-group
					label Ficheiro:
					input(type="file" name="files" multiple)
				tb.form-group
					label Tags:
					.row
						.col-3
							select.selectpicker(data-live-search='true' id='tagselector')
								each tag in tags
									option(data-tokens=tag.tag) #{tag.tag}
						.col
							button.btn.btn-primary.ml-3(type="button" id='tagbutton') Adicionar
					table.table(id='taglist')


				button.btn.btn-primary(type='submit') Publicar
