extends layout

block content
	.container
		.d-flex.justify-content-center.h-100
			.card
				.card-header
					h3 Sign In
				.card-body
					form(action="/login" method="POST")
						.input-group.form-group
							.input-group-prepend
								span.input-group-text
									i.fas.fa-user
							input.form-control(type='text' placeholder='email' name='mail')
						.input-group.form-group
							.input-group-prepend
								span.input-group-text
									i.fas.fa-key
							input.form-control(type='password' placeholder='password' name="password")
                        .input-group.form-group
							.input-group-prepend
								span.input-group-text
									i.fas.fa-key
							input.form-control(type='password' placeholder='repeat password')
						.form-group
							input.btn.float-right.login_btn(type='submit' value='Login')
				.card-footer
					.d-flex.justify-content-center.links
						| Não tens uma conta?
						a(href='#') Sign Up
