extends authLayout

block content
	.authContainer
		.container
			.d-flex.justify-content-center.h-100
				.card
					.card-header
						h3 Sign In
					.card-body
						form(action="/regist" method="POST")
							.input-group.form-group
								.input-group-prepend
									span.input-group-text
										i.fas.fa-user
								input.form-control(type='text' placeholder='email' name='email')
							.input-group.form-group
								.input-group-prepend
									span.input-group-text
										i.fas.fa-key
								input.form-control(type='password' placeholder='password' name='password')
							.input-group.form-group
								.input-group-prepend
									span.input-group-text
										i.fas.fa-key
								input.form-control(type='password' placeholder='repeat password')
							.form-group
								input.btn.float-right.login_btn(type='submit' value='Regist')
					.card-footer
						.d-flex.justify-content-center.links
							| Já uma conta?
							a(href='http://localhost:3000/login') Log in
